.bg-gradient-hero-1 {
  --color-bg: #000000;
  --color-001: #05fbeb;
  --color-002: #05a2f9;
  --color-003: #015ded;
  --color-004: #012b6a;
  --color-005: #010081;
  --color-006: #010f53;

  --gradient-001: linear-gradient(
    185deg,
    var(--color-001) 47%,
    var(--color-003) 65%,
    var(--color-bg) 85%
  );
  --gradient-002: linear-gradient(
    to bottom,
    var(--color-002) 20%,
    var(--color-004) 50%,
    var(--color-bg) 80%
  );
  --gradient-003: linear-gradient(
    to bottom,
    var(--color-003) 0,
    var(--color-005) 40%,
    var(--color-bg) 65%
  );
  --gradient-004: linear-gradient(
    185deg,
    var(--color-005) 30%,
    var(--color-006) 40%,
    var(--color-bg) 55%
  );

  width: 100cqw;
  height: hypot(100cqw, 100%);

  flex-shrink: 0;

  background-color: var(--color-bg);
  background-image: var(--gradient-001), var(--gradient-002),
    var(--gradient-003), var(--gradient-004);

  /* Scale the height of the gradient bars */
  --h-scale: 40%;
  background-size: 33% var(--h-scale), 15% var(--h-scale), 4% var(--h-scale),
    47% var(--h-scale);

  background-position-x: 0%, 37%, 48%, 90%;
  background-position-y: top;
  background-repeat: no-repeat;
  transform-origin: top center;
  transform: scale(200%) translateX(30cqw) rotate(45deg);
}
